<div class="row">
    {{#if favicon}}
    <div class="two columns">
        <img src="{{favicon}}" alt="{{title}}" />
    </div>
    <div class="ten columns">
    {{else}}
    <div class="twelve columns">
    {{/if}}
        <h2>{{trim title}}</h2>
        <small>
            <a href="{{url}}">
                {{friendly_url}}
            </a>
        </small>
    </div>
</div>
<div class="row">
    <hr />
    {{#if moreThanOneFloppy}}
        <h3>✅ Your website can fit on a single floppy!</h3>
    {{else}}
        <h3>❌ Your website cannot fit on a single floppy!</h3>
    {{/if}}
    <p><strong>Note:</strong> Files are pre-gzipped sizes</p>
</div>

<div class="row">
    <table class="u-full-width">
        <thead>
            <tr>
                <td>Type</td>
                <td>Filename</td>
                <td>Size (kb)</td>
            </tr>
        </thead>
        <tbody>
            <tr class="summary">
                <td colspan="2">All files</td>
                <td>
                    {{{showSize total_size_bytes total_size_kilobytes total_size_kibibytes}}} fitting on {{floppies}} floppies
                </td>
            </tr>
            <tr class="summary">
                <td colspan="2">Floppy {{times floppies "💾"}}</td>
                <td>
                    {{{showSize floppy_size_bytes floppy_size_kilobytes floppy_size_kibibytes}}} <a href="https://en.wikipedia.org/wiki/Floppy_disk#Sizes,_performance_and_capacity">(Floppy Capacity)</a>
                </td>
            </tr>
            <tr>
                <td>HTML</td>
                <td></td>
                <td>{{{showSize html_size_bytes html_size_kilobytes html_size_kibibytes}}}</td>
            </tr>
            {{> multilineTableRow js_files }}
            {{> multilineTableRow image_files }}
            {{> multilineTableRow css_files }}
        </tbody>
    </table>
</div>