<div class="row">
    {{#if favicon}}
    <div class="two columns">
        <img src="{{favicon}}" alt="{{title}}" />
    </div>
    <div class="ten columns">
    {{else}}
    <div class="twelve columns">
    {{/if}}
        <h2>{{trim title}}</h2>
        <small>
            <a href="{{url}}">
                {{friendly_url}}
            </a>
        </small>
    </div>
</div>
<div class="row">
    <hr />
    {{#if moreThanOneFloppy}}
        <h3>✅ Your website can fit on a single floppy!</h3>
    {{else}}
        <h3>❌ Your website cannot fit on a single floppy!</h3>
    {{/if}}
</div>

<div class="row">
    <table class="u-full-width">
        <thead>
            <tr>
                <td>Type</td>
                <td>Filename</td>
                <td>Size (kb)</td>
            </tr>
        </thead>
        <tbody>
            <tr class="summary">
                <td colspan="2">All files</td>
                <td>
                    {{showSize total_size}} fitting on {{floppies}} floppies
                </td>
            </tr>
            <tr class="summary">
                <td colspan="2">Floppy {{times floppies "💾"}}</td>
                <td>
                    {{showSize floppy_size}}
                </td>
            </tr>
            <tr>
                <td>HTML</td>
                <td>Static</td>
                <td>{{showSize html_size}}</td>
            </tr>
            {{> multilineTableRow js_files }}
            {{> multilineTableRow image_files }}
            {{> multilineTableRow css_files }}
        </tbody>
    </table>
</div>