{{#if files.length}}
    <tr>
        <td rowspan="{{rowspan files}}">
            {{title}}
        </td>
    </tr>
    {{#each files as |file index| }}
        <tr>
            <td>
                <a href="{{file.file_path}}">
                    {{trim file.filename}}
                </a>
            </td>
            <td>
                {{{showSize file.bytes file.kilobytes file.kibibytes}}}
            </td>
        </tr>
    {{/each}}
    <tr>
        <td>
            <strong>
                Total
            </strong>
        </td>
        <td>
            {{{showSize total_size_bytes total_size_kilobytes total_size_kibibytes}}}
        </td>
    </tr>
{{/if}}